@font-face {
  font-family: "NosiferCaps";
  src: url(/assets/NosiferCaps.ttf) format("truetype");
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #141414;
}
canvas {
  display: block;
}
html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}